page {
  padding-bottom: 90rpx;
}

.goods-detail {

  // 轮播图
  .swiper-container {

    swiper {
      height: 54vw;
      text-align: center;

      swiper-item {
        image {
          width: 50%;
        }
      }
    }
  }

  // 商品信息
  .goods-name-container {

    // 商品价格
    .goods-price {
      color: #cc1010;
      font-size: 36rpx;
      font-weight: bold;
    }

    .goods-name-warp {
      display: flex;
      box-shadow: 1px 2px 4px 1px #ccc;
      border: 0px 8rpx;

      // 商品名称
      .goods-name {
        flex: 5;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-size: 32rpx;
        padding: 5rpx 10rpx;
      }

      // 收藏
      .goods-collect {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        border: {
          left: 1px solid #666
        }

        // 收藏图标
        .cllect-icon {
          font-size: 42rpx;
          color: #ccc;
        }

        // 收藏文本
        .collect-text {
          font-size: 24rpx;
        }
      }

    }

  }

  // 商品介绍
  .goods-info-container {

    // 介绍标题
    .goods-info-title {
      height: 60rpx;
      padding: 4rpx 20rpx;
      font-size: 38rpx;
      color: var(--themeColor);
      border-bottom: 2px solid #666;
    }
  }

  // 底部工具栏
  .tool-bottom {
    height: 90rpx;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px 1px #ccc;

    .tool-item {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      // 图标
      .item-icon {
        font-size: 38rpx;
      }

      // 文本
      .item-title {
        font-size: 24rpx;
      }

      button {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
      }

    }

    // 加入购物车
    .tool-add-cart {
      flex: 2;
      background: #ff7a00;
      color: #fff;
    }

    // 立即购买
    .tool-buy {
      flex: 2;
      background: #df3033;
      color: #fff;
    }
  }
}